@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src:
      local('Roboto Regular'),
      url('/fonts/Roboto-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src:
      local('Roboto Italic'),
      url('/fonts/Roboto-Italic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:
      local('Roboto Thin'),
      url('/fonts/Roboto-Thin.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src:
      local('Roboto Thin Italic'),
      url('/fonts/Roboto-ThinItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local('Roboto Light'),
      url('/fonts/Roboto-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:
      local('Roboto Light Italic'),
      url('/fonts/Roboto-LightItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local('Roboto Light'),
      url('/fonts/Roboto-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
      local('Roboto Bold'),
      url('/fonts/Roboto-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src:
      local('Roboto Bold Italic'),
      url('/fonts/Roboto-MediumItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      local('Roboto Bold'),
      url('/fonts/Roboto-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:
      local('Roboto Bold Italic'),
      url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src:
      local('Roboto Bold'),
      url('/fonts/Roboto-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src:
      local('Roboto Bold Italic'),
      url('/fonts/Roboto-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src:
      local('Roboto Black'),
      url('/fonts/Roboto-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 1000;
    font-display: swap;
    src:
      local('Roboto Black Italic'),
      url('/fonts/Roboto-BlackItalic.ttf') format('truetype');
  }
}

html,
body,
#__next {
  height: 100%;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-modal {
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateY(50rem);
  transition: 0.5s;
}

.animate-mount-modal {
  transform: translateY(0rem);
}

.animate-menu {
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateX(50rem);
  transition: 0.5s;
}

.animate-mount-menu {
  transform: translateX(0rem);
}

.slick-slide > div {
  margin: 0 3%;
}
.slick-list {
  margin: 0 -3%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-3d {
  text-shadow:
    1px 1px 1px #dea873,
    1px 2px 1px #dea873,
    1px 3px 1px #ba7331;
}

.bg-orange-1 {
  background: #ff9600;
}

.mask-2 {
  -webkit-background-size: 100% 100%;
}

.visx-tooltip-glyph svg {
  width: 40px;
  height: 40px;
}

.rango-statistic-sankey-chart {
  height: 100% !important;
  width: 100% !important;
}

.animate-modal {
  transition-timing-function: cubic-bezier(10, 2, 3, 1);
  transform: translateY(50rem);
  transition: 0.5s;
}

.animate-mount-modal {
  transform: translateY(0rem);
}

@-moz-document url-prefix() {
  .mask-2 {
    background-size: 100% 100%;
  }
}

.visx-tooltip {
  box-shadow: rgba(130, 130, 130, 0.2) 0px 5px 20px 0px !important;
}
.visx-tooltip div {
  box-shadow: none !important;
}
