@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ecf3f4;
  color: black;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.visx-axis-tick{
  text{
    font-size: 12px !important;
    font-weight: 600;
  }
}
.text-failed {
  @apply text-error;
}
.text-running,
.text-unknown {
  @apply text-warning;
}
.border-failed {
  @apply border-error;
}
.border-running,
.border-unknown {
  @apply border-warning;
}
.bg-failed {
  @apply bg-error;
}
.bg-running,
.bg-unknown {
  @apply bg-warning;
}
